# dot folders
.cache/
.idea/
.vs/
.vscode/
.xmake/

# folders
__pycache__/
build*/
vs*/

# files
*.zip
*.user
compile_commands.json
Thumbs.db

# generated project files (embed absolute paths)
*.vcxproj
*.vcxproj.filters
*.sln
vsxmake*/
